.NavBar {
    background-color: tomato;
    text-align: center;
    font-weight: bold;
}

.NavBar li {
    padding: 0.5em 0;
    width: 10em;
    display: inline-block;
    color: white;
    text-decoration: none;
}